/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 0.9rem; }

/* Importing common files */
@import "assets/common/index";

/* defining page css */

.font-sm {
    font-size: small;
}

.font-bold {
    font-weight: bold;
}

.font-500 {
    font-weight: 500;
}